<li>
	{{burger name}}

	
		{{#if devoured}}<button class="change-burger" data-id="{{id}}" data-newdevour="{{devour}}"></button>Devoured!{{else}}Devour Now!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>